<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SisControl.NET.Config.Configuracao" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SisControl.NET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  <system.data>
    <DbProviderFactories>
    <!-- the dll installed in gac-->
    
    <!-- Add the dll copied in the bin folder-->
    <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>

    <connectionStrings>
        <add name="SisControl.NET.My.MySettings.controleConnectionString"
            connectionString="server=10.1.1.254;user id=alexandre;password=@drf1624;database=controle;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="SisControl.NET.My.MySettings.controleConnectionString1"
            connectionString="server=10.1.1.254;user id=alexandre;password=@drf1624;database=controle;port=3306;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="SisControl.NET.My.MySettings.controleConnectionString2"
            connectionString="server=10.1.1.254;user id=alexandre;password=@drf1624;database=controle;port=3306;persistsecurityinfo=True" />
        <add name="SisControl.NET.My.MySettings.csControle" connectionString="server=10.1.1.254;user id=alexandre;password=@drf1624;persistsecurityinfo=True;database=controle"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <applicationSettings>
        <SisControl.NET.Config.Configuracao>
            <setting name="Servidor" serializeAs="String">
                <value>10.1.1.6</value>
            </setting>
        </SisControl.NET.Config.Configuracao>
    </applicationSettings>

    <userSettings>
        <SisControl.NET.My.MySettings>
            <setting name="MyUsername" serializeAs="String">
                <value>alexandre</value>
            </setting>
            <setting name="MyServer" serializeAs="String">
                <value>10.1.1.254</value>
            </setting>
            <setting name="MyDB" serializeAs="String">
                <value>Controle</value>
            </setting>
            <setting name="MyPassword" serializeAs="String">
                <value>@drf1624</value>
            </setting>
            <setting name="MyPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MyRemote" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;server=clona-gen.com.br;user id=clonagen_remoto;password=16240423;database=clonagen_clonagen&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;MySql.Data.MySqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
            <setting name="MyPrintPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="MyTemp" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ShowSchl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumNFE" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Aliquota" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="PastaNFe" serializeAs="String">
                <value>m:\NFe</value>
            </setting>
            <setting name="CaminhoUNIDNF" serializeAs="String">
                <value>\\servidor\SISTEMAS\UniNFe\UniDANFe\unidanfe.exe</value>
            </setting>
            <setting name="NFeSerie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NFeAmbiente" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NFeEmailContador" serializeAs="String">
                <value>alyne@mazzolli.com.br</value>
            </setting>
            <setting name="MySMTP" serializeAs="String">
                <value>mail.clona-gen.com.br</value>
            </setting>
            <setting name="MyMailUser" serializeAs="String">
                <value>comercial+clona-gen.com.br</value>
            </setting>
            <setting name="MyMailPass" serializeAs="String">
                <value>16240423</value>
            </setting>
            <setting name="CaminhoZIP" serializeAs="String">
                <value>C:\Program Files (x86)\WinZip\winzip32.exe</value>
            </setting>
            <setting name="MyBaud" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="NFeHoraVerao" serializeAs="String">
                <value>True</value>
            </setting>
        </SisControl.NET.My.MySettings>
    </userSettings>

<startup useLegacyV2RuntimeActivationPolicy="true">
   <supportedRuntime version="v4.0" />
</startup>
</configuration>
